
body {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

/* header styles */

.banner{
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    height: 808px;
    margin: 0px auto;
    border: 2px solid white;
    position: relative;
}

.banner-heading{
    font-size: 65px;
    font-weight: 700;
    text-align: right;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-30% , -70%);
}

.banner-description{
    color: #FFFFFF;
    font-weight: 400;
    text-align: right;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-30% , -40%);
}

.blue-btn{
    padding: 20px;
    font-size: 20px;
    font-weight: 600 ;
    color: #005FAC;
    border-radius: 5px;
    border: 0;
}

.btn-div{
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-20% , -20%);
}


/* main styles */

.my-previous-failure{
    display: flex;
    justify-content: space-between;
    gap: 87px;
    max-width: 1072px;
    margin: 130px auto;
}

.image{
    width: 724px;
}

.div-text{
    margin-top: 221px;
}

.div-heading{
    font-size: 40px;
    font-weight: 700;
}

.div-description{
    font-weight:400 ;
    color: #444343;
}

.div-text ul li::before{
    content:"\2713\0020";
}

.div-text ul {
    list-style: none
}

.my-plans{
    display: flex;
    justify-content: center;
    gap: 86px;
}

.plan-heading{
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
}

.work-plan{

}

.work-plan-heading{
    font-size: 30px;
    font-weight: 700;
}

.work-plan-description{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
    
}

.icons{
    padding-left: 0px;
}

.gradient-heading{
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
}

.gradient{
    background: url('../images/gradient1.png'),url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 130px auto;
    border-radius: 8px;
    max-width: 1140px;
}

.gradient-text{
    padding: 60px 617px 60px 65px;
}

.call-btn{
    color: #005FAC ;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 21px 36px;
    border-radius: 5px;
}

footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    max-width: 1600px;
    margin:0 auto ;
}

.footer-div-heading{
    color: #FFFFFF;
    font-size:45px ;
    font-weight: 700;
}

.footer-div-description{
    color: #FFFFFF;
    font-weight: 400;
}

.subscribe{
    color: #FFFFFF;
    font-size: 25px;
    font-weight:600;
}

.subscribe-btn{
    background-color: #005FAC;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 36px;
    margin-top: 16px;
    border-radius: 8px;
}

.footer-div{
    max-width: 485px;
    padding: 130px 0px;
   
}

#email{
    max-width: 385px;
    color: #F3F3F3;
    background-color: black;
    padding: 21px 158px 22px 21px;
    border-radius: 8px;
}

#email:hover{
    border: 2px solid white;
}

.footer-icons{
    margin-right: 17px;
    margin-top: 32px;
}

.hide{
    display: none;
}

@media screen and (max-width:576px) {
    .my-plans{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }
    .gradient{
        background-size: cover;

    }
    .gradient-text{
        padding: 20px 5px 20px 20px;
    }
    footer{
        flex-direction: column;
        gap: 10px;
    }
    .footer-div{
        padding: 25px;
    }
    #email{
        width: 30%;
        padding: 21px 150px 21px 21px;
    }
    .my-previous-failure{
        flex-direction: column;
        gap: 20px;
    }
    .image{
        width: 100%;
    }
    .image img{
        width: 100%;
    }
    .div-text{
        margin: 20px;
    }
    .banner{
        position: static;
        background-position: right;
        padding: 20px;
    }
    .banner-heading , .banner-description ,.btn-div{
        position: static;
        transform: none;
        text-align: start;
        margin-bottom: 30px;
    }

    
}


@media screen and (min-width: 576px) and (max-width:992px){
    .banner-heading{
        left: 50%;
        transform: translate(-20% , -80%);
    }
    .banner-description{
        top: 50%;
        left: 60%;
        transform: translate(-27% , -20%);
    }
    .btn-div{
        top: 70%;
        left: 80%;
        transform: translate(-50% , -10%);
    }
    .my-previous-failure{
        flex-direction: column;
        align-items: center;
    }
    .image{
        width: 100%;
        text-align: center;
    }
    .div-text{
        margin: 30px;
    }
    .my-plans{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .work-plan{
        text-align: center;
    }
    .gradient{
        background-size: cover;
    }
    .gradient-text{
        padding: 60px 317px 60px 65px;
    }
    footer{
        flex-direction: column;
    }
    .footer-div{
        padding: 50px;
    }
}